.header {
    position: relative;

    z-index: 100;

    &__flex-wrapper {
        margin-top: 10px;
        padding: 25px;

        display: flex;
        gap: 30px;

        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid rgb(112, 107, 107);

        transition: all 1s ease;
        &--active {
            background-color: #312b45;
            transition: all 1s ease;
            border-bottom: 1px solid rgb(112, 107, 107);
        }
    }
    &__dropDown {
        display: flex;
        gap: 50px;
        position: absolute;
        width: 100%;
        opacity: 0;
        height: 400px;
        padding: 25px;
        border-radius: 10px;
        background-color: #312b45;
        border-radius: 0 0 10px 10px;
        transition: all 1s ease;
        &--active {
            transition: all 1s ease;
            opacity: 1;
        }
    }
    &__dropDownMovie {
        max-width: 100%;
        max-height: 100%;

    }

    &__dropDownGenres {
        max-height: 300px;
        display: flex;
        gap: 30px;
    }


    &__dropDownItem {
        padding-top: 10px;
        a {
            color: $text;
            &:hover {
                color:aliceblue;
            }
        }
    }

    &__dropDownCoutriesAndYears {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__dropDownTitle {
        color:aliceblue;
    }

}